<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Demian Scholz">
    <title>##title##</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/default.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" rel="stylesheet"></script>
    <script src="/default.js" rel="stylesheet"></script>
    ##script##
    ##stylesheet##
</head>

<body>
<header class="d-flex justify-content-center py-3 text-bg-dark">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link text-muted" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="/chat" class="nav-link text-muted">Chat</a>
            </li>
            <li class="nav-item">
                <a href="/chatSocket" class="nav-link text-muted">Chat Socket</a>
            </li>
            <li class="nav-item">
                <a href="/kontakt" class="nav-link text-muted">Kontakt</a>
            </li>
            <li class="nav-item">
                <a href="/blog" class="nav-link text-muted">Blog</a>
            </li>
            <li class="nav-item">
                <a href="/wordle" class="nav-link text-muted">Wordle</a>
            </li>
        </ul>
    </div>

</header>


<div class="containerBody">
    <div class="headerDiv">
        <img class="headerImg" src="/images/geometric.jpg" width="100%"/>
        <h1 class="headerTitle">##title##</h1>
    </div>
    ##page##
</div>


<footer>
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">über mich</a></li>
            <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/in/demian-scholz-b928b81a2"
                                    class="nav-link px-2 text-muted">
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use xlink:href="/bootstrap/icons/bootstrap-icons.svg#linkedin"/>
                </svg>
                LinkedIn</a>
            </li>
            <li class="nav-item"><a target="_blank" href="https://www.xing.com/profile/Demian_Scholz/cv"
                                    class="nav-link px-2 text-muted">


                Xing</a></li>
            <li class="nav-item"><a href="/kontakt" class="nav-link px-2 text-muted">Kontakt</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Demian Scholz</p>
    </div>
</footer>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">##empty##</div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


</body>

</html>